[Unit]
Description=Back up %I using restic
Before=restic-backup.target

[Service]
Type=oneshot
WorkingDirectory=/home/backup/profile/%i
User=backup
ExecStart=/usr/local/bin/restic-helper backup

[Install]
WantedBy=multi-user.target
