[Unit]
Description=Clean up restic backups with tag %i
After=restic-backup.target

[Service]
Type=oneshot
WorkingDirectory=/home/backup
User=backup
Environment=RESTIC_POLICY=%I
EnvironmentFile=/home/backup/config
ExecStart=/usr/local/bin/restic-clean

[Install]
WantedBy=multi-user.target
