[Unit]
Description=Clean up %I backups
After=restic-backup.target

[Service]
Type=oneshot
WorkingDirectory=/home/backup/profile/%i
User=backup
ExecStart=/usr/local/bin/restic-run clean

[Install]
WantedBy=multi-user.target
